<div class= "container">
  <%= render "timer" %>

  <div class= "show-command">
    <p><strong><%= @command.body %></strong></p>
  </div>
  <div class= "command-description">
    <p><strong>概要: <%= @command.description %></strong></p>
  </div>

  <input type="text"
         id="answer-input" 
         data-controller ="answer"
         data-answer-correct-value="<%= @command.body %>" 
         data-answer-next-url="<%= next_question_url(@game_session, @commands, @current_index) %>"
         data-action="keyup->answer#check" 
         placeholder="ここにコマンドを入力..."
         autocomplete ="off"
         autofocus/>  
  <p id="result" style="margin-top: 1em; color: green;"></p>
</div>